

.autoshow{
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30vh;
}

.autoshow1{
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 80vh;
}
.autoshow2{
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 0% cover 20vh;
}

.fa {
  width: 50px;
  text-align: center;
}
.fa::before{
  font-size: 130%;
}

@keyframes text-appear{
from{
  opacity: 0;
  transform: translateY(100px);
}
to{
  opacity: 1;
  transform: translateY(0);
}
}

.autoblur{
  animation: autobluranimation linear both;
  animation-timeline: view(50% auto);
}

@keyframes autobluranimation{
  0%{filter: blur(20px);}
  30%{filter: blur(10px);}
  40%{filter: blur(0px);}

 
}

.footer{
  display: inline-flex;
  margin: 4%;
  margin-bottom: 60px;
  padding-bottom: 60px;
  justify-content: center;
}
.footersection{
    color: #FAC176;
    display: flexbox;
    text-decoration-thickness: 2px;
    width: fit-content;
    padding-left: 5%;
}

@media screen and (max-width: 768px) {
  .footer{
    margin: 10%;
  }
  .footer{
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  }  
.footerheader{
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  padding-bottom: 2%;

}

.footerlinks{
  padding-bottom: 4px;
  text-decoration: underline;
  display: inline-flex;
  padding: 12px;

}
.footerlinks:hover {
  cursor: pointer;
  color: #280E4B;
  background-color: #71DE8C;

}
.quote{
  margin-top: 13px;
  margin-left: 2vw;
  width: 50%;
  float: right;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    font: normal normal normal 14px / 1 FontAwesome;
}

h1{
    font-family: "Domine", sans-serif;
    color: #7FFA9E;
    font-size: 300%;
  }

li{

    font-family: "Lexend", sans-serif;
    color: #FAC176;
    justify-content: center;
    padding: 7px;
    list-style-type: none;


}

ul.lis{
  font-family: "Lexend", sans-serif;
  color: #FAC176;
  justify-content: center;
  padding: 7px;
  display: inline-block;

}

ul{
  font-family: "Lexend", sans-serif;
  color: #FAC176;
  justify-content: center;
}

  h2,h3,h4,h5,h6{
    font-family: "Domine", serif;
    color: #FAC176;
  }
  h2{
     text-decoration: underline;
     font-size: 200%;
     max-width: 100%;
     padding: 10px;
  }
  h3{
    font-size: 150%;
  }



p { 
    font-family: "Lexend", sans-serif;
    color: #FAC176;
    justify-content: center; 
    padding-bottom: 15px;
    padding: 15px;

}

a {
    color: #7FFA9E;
}

.nav-link {
    color:#7FFA9E ;

}

.nav-link:hover {
    color: #71DE8C; 
}


body{
    background-color: #280E4B;
    font-size: 120%;   
}

.col{
  margin-bottom: 25px;
}

#button{
    font-family: "Lexend", sans-serif;
    font-size: 110%;
    background-color: #FAC176;
    padding: 20px 50px; 
    color: #48317B;
    box-shadow: #33255C;
    border-radius: 30px;
    align-self: center;
}
#button:hover {background-color: #E0AD69}

#button:active {
  background-color: #E0AD69;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#navbar{
    background-color:black ;
}

#nav-item {
    color: #7FFA9E ;
}

#titletext{
    margin-bottom: 40px;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
}
#boxhome {
    border: 3px solid #FAC176;
    border-radius: 8px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    height: 100%;
    margin-bottom: 50px;
    margin-top: 70px;

  
}
#boxhome:before{
  height: 100px;
}
#boxpic {
  border: 3px solid #FAC176;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 40px;
}

hr{
    height: 15px;
    background-color: #FAC176;
}


.slide {
    height: 100vh ;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.row{
  align-items: center;
  justify-content: center;
  display: flexbox;
}

.display1{
  align-items: center;
  justify-content:center ;
  display: flexbox;
  padding-bottom: 4%;
}


  

  /* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("thunder.gif");
  
    /* Set a specific height */
    height: 100vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .navbar-text{
    color: lightslategrey;
}

.topnav {
    font-family: "Lexend", sans-serif;
    width: 100%;
    background-color: #280E4B;
    overflow: auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1;
  }
  
  .topnav a {
    float: left;
    padding: 12px;
    color: #FAC176;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #E0AD69;
    color: #33255C;
  }
  
  .topnav .icon {
    display: none;
    z-index: 1;
  }

  .topnav a.active {
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (min-width: 600px) {
    .topnav .icon{
        display: none;
    }


    }
  
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.resum{
  display: flexbox;
  align-self: center;
  text-align: center;
  margin-bottom: 100px;
}
  .container1{
    justify-content: center;
    margin: auto;
    padding: 10px;
  }
  .container{
    padding: 40px;
  }
#back-to-top{
  position:fixed!important; bottom:14px!important; right:12px!important; z-index:1!important;opacity:.4;font-size:22px;color:white!important;padding:8px;
}

.r1{
  padding: 30px;
}

@media screen and (max-width: 768px) {
   #boxhome {
    border: 3px solid #FAC176;
    border-radius: 8px;
    padding-top: 10%;
    padding-right:10%;
    padding-left: 10%;
    margin-left: 15px;
    margin-right: 15px;
    height: 92%;
    width: 93%;
    }

    .r1 {
    font-size: 200%;
    
  }

  p{
    font-size: 100%;
  }

    .col{
  display:flex;
  flex-wrap:wrap;
  width: 100%;
  }
  #button{
     align-self: center;
     justify-content: center;
     margin: auto;
  }
  h1{
    align-self: center;
    margin: auto;
    font-size: 300%;
  }
   h2{
    align-self: center;
    margin: auto;
    font-size: 150%;
  }
    h3,h4,h5,h6{
    align-self: center;
    margin: auto;
  }

  .boxpic {
    justify-content: center;
    height: 50%;
  }
  .container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;
  }
  .container1{
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  .col1 {
    display:flexbox;
    width: 100%;
  }
  }
   .pimage1{
    width: 30vw;
    border: 4px solid #FAC176;
    border-radius: 8px;

  }
   .pimage{
    width: 30vw;
    border: 4px solid #FAC176;
    border-radius: 8px;
  }

  
  @media screen and (max-width: 768px) {

  .pimage1{
    width: 50vw;
    border: 4px solid #FAC176;
    border-radius: 8px;
  }
  .pimage{
    width: 50vw;
    border: 4px solid #FAC176;
    border-radius: 8px;
  }
  .pdf{
    width: 80%;
    margin: auto;
    justify-content: center;
  }
  .resum{
  display: flexbox;
  width: 100%;
  margin-bottom: 50px;

}
#y{
margin-left: -11.5%
}
  }

.col1 {
  display: flexbox;
  width: 50%;
  padding-right: 80px;
}

.img1{
    border: 4px solid #FAC176;
    border-radius: 8px;
    display: flexbox;
    width: 40vw;
}
.img3{
    border: 4px solid #FAC176;
    border-radius: 8px;
    display: flexbox;
    width: 30vw;


}
.img2{
  width: 30vw;
}



  @media screen and (max-width: 768px) {
    .img1{
      width: 50vw;
      margin: auto;
    }
    .img2{
  width: 20vw;
}
    .img3{
      width: 50vw;
    }
    .resize{
      font-size: 50%;
    }
  }

  @media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: none;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: none;
    }
}
#scroll{
  position: fixed;
  bottom: 10%;
  right: 5%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #FAC176;
  border-radius: 8px;
  padding: .5rem;
  text-decoration: none;
  z-index: 99;
  animation: .2s ease-out;
  max-width: 100%;
}





  @keyframes floating {
            0% {
                transform: translateY(20);
            }

            33% {
                transform: translateY(-10px);
            }


            100% {
                transform: translateY(20);
            }
        }


  .scrolldown{
    display: grid;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #7FFA9E;
  opacity: 75%;
  /* transform: translateY(8px); */
  text-decoration: none;
  border-radius: 20px;
}
.scrolldown:hover{
  color: #7FFA9E;
  cursor: pointer;
  background-color: #E0AD69;
  
}
.scrolldown span{
  font-size: 5rem;
  text-align: center;
  width: fit-content;
  animation: floating 2s infinite;

}
  @media screen and (max-height: 650px) {
.scrolldown{
    left: 5%;
}
  }
#scroll span{
  color: #280E4B;
  font-size: 2rem;
  transition: .2s ease-out;
    right: 1%;
}
#scroll:hover{
  background-color: #E0AD69;
}

#scroll:hover span{
  transform: translateY(-4px);
}
@media screen and (max-width: 600px) {
  .scrolldown span{
    font-size: 3rem;
    bottom: 1%
    
  }
}
@media screen and (max-height: 650px) {
  .scrolldown span{
    font-size: 3rem;
    left: 10%;
    
  }
}
.iteachimg{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 50%;
}

   @media screen and (max-width: 768px) {
.iteachimg{
  width: 60vw;

}
   }

  .presize{
margin-left: 20%;
margin-right: 20%  }

   @media screen and (max-width: 768px) {
    .presize{
margin-left: 1%; 
margin-right: 1%;  }
  }

  .goback{
  position: fixed;
  top: 14%;
  left: 5%;
  z-index: 1;
    padding-top: 5px;
    padding-right: 4px;
    padding-left: 4px;  
  justify-self: center;
  align-items: center;
  border-radius: 10px;
  vertical-align: middle;
  margin: auto;
  animation: .2s ease-out;
  text-decoration: none;

}

.goback:hover{
  background-color: #E0AD69;
}
.goback span{
    transition: .2s ease-out;

}
.goback:hover span{

  transform: translateY(-2px);


}
  @media screen and (max-width: 768px) {
.goback{
 top: 27%;
}
 
}

.fancyportfolio{
  border: 1px solid #FAC176;
  border-radius: 30px;
  overflow: hidden;
  width: 28%;
  height: fit-content;
  box-shadow: 5px 5px #0d0224;
  margin-bottom: 20px;
}
.containerportfolio{
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-bottom: 40px;
}
.portfolioimage{
  width: 100%;
  height: 50%;
  justify-content: center;
}
.portfolioboxtext{
    font-size: 110%;
  }
@media screen and (max-width: 768px) {
    .containerportfolio {
        display: flexbox;
        width: 20vw;
        height: fit-content;
;
        justify-content: center;
        margin: auto;
        width: auto;
    }
    .fancyportfolio{
  border: 1px solid #FAC176;
  border-radius: 30px;
  overflow: hidden;
  width: fit-content;
  

}
.portfolioimage{
  width: 100%;
  height: 40%;
  justify-content: center;
}
  .portfolioboxtext{
    font-size: 80%;
  }

  }


  

  .fancyportfolio:hover{
    border: 5px solid #71DE8C;
    box-shadow: 10px 10px #0d0224;
  }

  .fullscroll{
    display: flex;
    overflow: hidden;
    width: 40vw;
    margin: auto;
    padding: 10px;
    -webkit-mask:linear-gradient(90deg, transparent, white 25%, white 75%, transparent );
    mask:linear-gradient(90deg, transparent, white 25%, white 75%, transparent );
  }

  .scroller{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   padding-right: 2rem;

    animation: scroll 20s linear infinite;
    
  }



 
 /* .scroller:hover{
    animation-play-state: paused;
  }  */

  .scroller li{
    color: #280E4B;
    background-color: #FAC176;
    border-radius: 10px;
    box-shadow: 5px 5px #33255C;
  }




    @keyframes scroll{
    to{
      transform: translateX(calc(-100%));
    }
  }

  @media screen and (max-width: 960px) {
    .fullscroll{
      width: 66vw;
    }
  }

  .nameresize{
    margin-top: 25%;
    font-size: 400%;
  }
    @media screen and (max-height: 800px) {
      .nameresize{
      margin-top: 14%;
      font-size: 400%;
      }
  
    }


    .color{
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .figmapics{
      border-radius: 12px;
      outline: #FAC176 solid 2px;
    }

    .link{
      color: #7FFA9E;
      border-radius: 6px;
    }

    .link:hover {
      background-color: #E0AD69;
      color: #33255C;
    }

    .coolhover{
      
    }
    .coolhover:hover{
      outline: #7FFA9E solid 4px;
    }

    .scroller li:hover{
      animation: wiggle .5s linear infinite
    }

    @keyframes wiggle{
      0%{}
      25%{transform: rotateZ(-7deg);}
      50%{transform: rotateZ(7deg);}
      75%{transform: rotateZ(-7deg);}
      100%{transform: rotateZ(7deg);}
    }

    .widthfix{
      width: 40vw;
      justify-content: center;
      align-items: center;
      margin: auto;
      text-align: center;
    }

    .widthfix li{
      padding: 10px;
      width: fit-content;
      display: inline-flex;
    }

    @media screen and (max-width: 768px) {
    .widthfix{
      width: 60vw;
    }
    }