h1{
    font-family: "Domine", serif;
    color: #7FFA9E;
    font-size: 300%;
  }

  h2,h3,h4,h5,h6{
    font-family: "Domine", serif;
    color: #FAC176;
  }



p { 
    font-family: "Lexend", sans-serif;
    color: #FAC176;
    justify-content: center; 

}

a {
    color: #7FFA9E;
}

.nav-link {
    color:#7FFA9E ;

}

.nav-link:hover {
    color: #71DE8C; 
}


body{
    background-color: #48317B;
    font-size: 120%; 
    background-image: url("portback.png");   
}

#button{
    font-family: "Lexend", sans-serif;
    font-size: 110%;
    background-color: #FAC176;
    padding: 20px 50px; 
    color: #48317B;
    box-shadow: #33255C;
    border-radius: 30px;
}
#button:hover {background-color: #E0AD69}

#button:active {
  background-color: #E0AD69;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#navbar{
    background-color:black ;
}

#nav-item {
    color: #7FFA9E ;
}

#titletext{
    margin-bottom: 40px;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 700px;
}
#boxhome {
    border: 3px solid #FAC176;
    border-radius: 8px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding: 20px; 
    padding-top: 40px;
    height: 90%;
    width: 50lh;
}

hr{
    height: 15px;
    background-color: #FAC176;
}

.containers {
    height: 100vh ;
    width: 100%;
}

.slide {
    height: 100vh ;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.navbar {
    font-family: "Lexend", sans-serif;
    width: 100%;
    background-color: #48317B;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: #FAC176;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #33255C;
  }
  
  .active {
    background-color:;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }