h1,h2,h3,h4,h5,h6{
    font-family: "Domine", serif;
    color: #7FFA9E;
    font-size: 300%;
  }



p { 
    font-family: "Lexend", sans-serif;
    color: #FAC176;
    justify-content: center; 

}


body{
    background-color: #48317B;
    font-size: 120%;

    
}

#titletext{
    margin-bottom:65%;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 700px;
}
#boxhome {
    border: 3px solid #FAC176;
    border-radius: 8px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding: 20px; 
    padding-top: 40px;
    height: 90%;
    width: 90%;
    text-align: center;

}

.containers {
    height: 100vh ;
    width: 100%;
}

.slide {
    height: 100vh ;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 50px;
}